
body
{
    background: #333;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: orange;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 30px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 0em;
    font-weight: normal;
    font-size: 0.8em;
    color: black;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    margin-top: 10px;
    border-color: orange;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 1em;
}

#footer
{
    padding: 0.5em;
    background: #406232;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    border-color: red;
}